.joinPage{
    background-color: rgb(41, 39, 39);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.JoinContainer{
/* border: 2px solid white;
height: 50%; */
width: 50%;
display: flex;
flex-direction: column;
align-items: center;
}
.JoinContainer> img{
    width: 7vmax;
}
.JoinContainer> h1{
    color: white;
    font-size: 2.5vmax;
    width: 25vmax;
    border-bottom: 0.2vmax solid white;
    text-align: center;
    padding: 1vmax;
    box-sizing:border-box ;
}
#joinInput{
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    margin: 2vmax;
    box-sizing:border-box ;
}
.joinBtn{
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    color: white;
    outline: none;
    font-size: 1.2vmax;
   box-sizing:border-box ;
   background-color: crimson;
   transition: all 0.3s;
   cursor: pointer;
}
.joinBtn:hover{
    background-color: rgb(92, 5, 23);
}